h1{
    font-family: 'Varela Round', sans-serif;
    color: white;
    position: relative;
    top: -170px;
    right: -10px;
}
/* From uiverse.io by @alexruix */
.input {
    position: relative;
    top: -180px;
    right: -10px;
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
   }
   
   .input:focus, input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
   }
   
   .input::placeholder {
    color: #ffffff;
   }
   
   .input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }
   button{
    position: relative;
    top: -175px;
    right: -15px;
   }
   
   
   
   
   
   
   